.button {
    overflow: hidden;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.button > .icon {
    position: relative;
    color: #1b0126;
}

.animated {
    transition: 0.5s all;
}

.animated.spin:hover {
    transform: rotate(360deg);
}

.animated.bounce:hover > .icon {
    animation: bounce 0.5s linear infinite;
}

.zoom > .icon {
    transition: 0.5s all;
}

.animated.zoom:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.animated.zoom:hover > .icon {
    transform: scale(1.3);
    color: white;
}

#instagram:hover {
    background: #d6249f;
    background: radial-gradient(
            circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%
    );
}

#linkedin:hover {
    background-color: #3078B6;
}

#github:hover {
    background-color: #000000;
}

@media (max-width: 600px) {
    .button {
        margin-right: 20px;
    }

    .animated.zoom:hover > .icon {
        transform: scale(1.2);
    }
}

@media (max-width: 425px) {
    .button {
        margin-right: 15px;
        width: 40px;
    }
}
